.user{
    color: black;
    text-decoration: none;
}
.user:hover{
    color: gray;
}
img{
    width: 100%;
    margin-top: 2rem;
}
.containernotfoundpage{
 margin-top: 10rem;
}
.containernotfoundpage{
    display: flex;
    align-items: center;
}
.Container-Homepage{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}
.cardporfile{
    margin-top: 6rem;
    
    display: flex;
    justify-content: center;
    
    
}
.profile{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid rgb(177, 177, 177);
    max-width: 360px;
}
b{
margin-top: 1rem;
}
.titleprojects{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.titleuser{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.containerprojects{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 1rem ;
grid-row-gap: 1rem;
place-items: center;
}
.Containerprojectstext{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.imgnotproject{
    width: 40rem;
}
.sectionproject{
    display: grid;
    place-items: center;
  
   
}
.divprojects{
 display: grid;
 place-items: center;
 font-family: 'Fredoka One', cursive;
 margin-top: 1rem;
}
.divimg{
    width: 40rem;
    margin-top: 0rem;
}
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #155de4;
  }
  40% {
    box-shadow: 0 2.5em 0 0#155de4;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #155de4;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #155de4;
  }
}
.loaderp{
    display: flex;
    justify-content: center;
}