.user{
    color: black;
    text-decoration: none;
}
.user:hover{
    color: gray;
}
img{
    width: 100%;
    margin-top: 2rem;
}
.containernotfoundpage{
 margin-top: 10rem;
}
.containernotfoundpage{
    display: flex;
    align-items: center;
}
.Container-Homepage{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}
.cardporfile{
    margin-top: 6rem;
    
    display: flex;
    justify-content: center;
    
    
}
.profile{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid rgb(177, 177, 177);
    max-width: 360px;
}
b{
margin-top: 1rem;
}
.titleprojects{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.titleuser{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}